<section>
  <form >
    <table>
      <tr>
        <td class="formulario">
          <h1 class="titulo">
            FAZER LOGIN
          </h1>

          <input  formControlName="E-mail, CPF ou CNPJ" placeholder="E-mail, CPF ou CNPJ" class="email">
          <input type="password" name="senha" placeholder="Senha" >
          <tr>
            <button type="submit" class="entrar">
              ENTRAR
            </button>
          </tr>
          <tr>
          </tr>
        </td>
      </tr>
    </table>
  </form>
</section>
