<body>
  <header class="cabeçalho">
    <nav [routerLink]="['']" class="topo">
      <img src="../assets/Logomyio.png" class="logo">
    </nav>
    <nav>
      <input type="text" class="pesquisa" placeholder="Pesquisar">
    </nav>
    <nav >
      <img src="../assets/person_FILL0_wght400_GRAD0_opsz48.svg" class="personagem">
        <a href="./login" class="login"> Login</a>
        <a href="./create-account" class="cadastro"> Cadastre-se</a>
      </nav>
    <nav [routerLink]="['./shopping-cart']">
      <img src="../assets/shopping_cart_FILL0_wght400_GRAD0_opsz48.svg" class="carrinho">
    </nav>
  </header>

  <div class="verde">
    f
  </div>

  <td>
    <router-outlet></router-outlet>
  </td>

</body>
