$roxo: #6c25be;



.topo{
  background: $roxo;
  height: 150px;
}

.logo{

  margin-left: 2% ;
  margin-top: 40px;
  margin-right: 30%;

}
.personagem{

  margin-top: 40px;
  margin-left: 20%;

}

.pesquisa{
  display: flex;
  display: inline;
  margin-top: 10px;
  width: 400px;
  height: 30px;


}
